<form [formGroup]="passwordFormGroup" (submit)="submit()">
  <div class="row">
    <mat-form-field class="form-filed width-100" appearance="outline">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        formControlName="password"
        (input)="checkPasswordStrength()">
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="form-field width-100" appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input
        matInput
        type="password"
        formControlName="passwordConfirmation">
    </mat-form-field>
    <mat-error *ngIf="passwordFormGroup.get('passwordConfirmation')?.hasError('required') && (passwordFormGroup.get('passwordConfirmation')?.touched || passwordFormGroup.get('passwordConfirmation')?.dirty)">
      Password confirmation is required
    </mat-error>
    <mat-error *ngIf="passwordFormGroup.hasError('passwordConfirmation') && (passwordFormGroup.get('passwordConfirmation')?.touched || passwordFormGroup.get('passwordConfirmation')?.dirty)">
      Passwords don't match
    </mat-error>
  </div>
  <div class="row">
    <ng-container *ngFor="let requirement of passwordRequirements">
      <p [ngClass]="requirement.isValid ? 'valid-requirement-text' : 'invalid-requirement-text'">{{requirement.name}} <mat-icon *ngIf="requirement.isValid">check</mat-icon></p>
    </ng-container>
  </div>
</form>
