<form [formGroup]="passwordFormGroup" (submit)="submit()">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
      <div class="col-md-12">
        <mat-form-field class="form-filed width-100" appearance="outline">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            formControlName="password"
            (input)="checkPasswordStrength()">
        </mat-form-field>
      </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <mat-form-field class="form-field width-100" appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input
              matInput
              type="password"
              formControlName="passwordConfirmation">
          </mat-form-field>
          <mat-error *ngIf="passwordFormGroup.get('passwordConfirmation')?.hasError('required') && (passwordFormGroup.get('passwordConfirmation')?.touched || passwordFormGroup.get('passwordConfirmation')?.dirty)">
            Password confirmation is required
          </mat-error>
          <mat-error *ngIf="passwordFormGroup.hasError('passwordConfirmation') && (passwordFormGroup.get('passwordConfirmation')?.touched || passwordFormGroup.get('passwordConfirmation')?.dirty)">
            Passwords don't match
          </mat-error>
        </div>
      </div>
    </div>
    <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <mat-list role="list">
          <mat-list-item role="listitem" *ngFor="let requirement of passwordRequirements">
            <li [ngClass]="requirement.isValid ? 'valid-requirement-text' : 'invalid-requirement-text'">{{requirement.name}} <mat-icon *ngIf="requirement.isValid">check</mat-icon></li>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
    </div>
  </div>
  <div class="row">
    <app-confirm-button></app-confirm-button>
  </div>

</form>
