.custom-progress-bar ::ng-deep .mat-progress-bar-primary, .custom-progress-bar ::ng-deep .mat-progress-bar-background {
  background-color: red;
}

.valid-requirement-text{
  color: green;
}

.invalid-requirement-text{
  color: darkred;
}
