<div class="row">
  <div class="text-center" style="background-color: dodgerblue">
    <h1 style="margin: 20px; color: white">{{pageTitle}}</h1>
  </div>
  <div class="col-md-10 offset-1 text-center">
    <form  (submit)="submit()" #offerForm="ngForm">
      <div class="row">
        <div class="col-md-8 offset-2">
          <div class="row">
            <mat-form-field class="form-field width-100" appearance="outline" style="width: 100%; margin-top: 20px">
              <mat-label>Title</mat-label>
              <input
                matInput
                placeholder="Title"
                name="offerName"
                [(ngModel)]="offerModel.title"
                [disabled]="isReadonly"
                required
                minlength="5"
                #offerName="ngModel"/>
                <mat-error *ngIf="offerName.invalid && (offerName.touched || offerName.dirty)">
                  <div *ngIf="offerName.errors?.required">Offer name is required</div>
                  <div *ngIf="offerName.errors?.minlength">Offer name has to contains at least 5 characters</div>
                </mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <div class="col-md-4">
              <mat-form-field class="form-field width-100" appearance="outline">
                <mat-label>Position name</mat-label>
                <input
                  matInput
                  placeholder="Position name"
                  name="offerPositionName"
                  [(ngModel)]="offerModel.positionName"
                  [matAutocomplete]="autoPositions"
                  (ngModelChange)="filterPositions()"
                  [disabled]="isReadonly"
                  required
                  #offerPositionType="ngModel"/>
                  <mat-autocomplete autoActiveFirstOption #autoPositions>
                    <mat-option *ngFor="let position of filteredPositionList | async" [value]="position.name">
                      {{position.name}}
                    </mat-option>
                  </mat-autocomplete>
                <mat-error *ngIf="offerPositionType.invalid && (offerPositionType.touched || offerPositionType.dirty)">
                  Position type is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="form-field width-100" appearance="outline">
                <mat-label>Position name</mat-label>
                <mat-select [(ngModel)]="offerModel.positionLevel" name="offerPositionLevel">
                  <mat-option *ngFor="let option of positionsLevelList" [value]="option">
                    {{option}}
                  </mat-option>
                  <mat-error *ngIf="offerPositionType.invalid && (offerPositionType.touched || offerPositionType.dirty)">
                    Position type is required
                  </mat-error>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <mat-form-field class="form-field width-100" appearance="outline">
                <mat-label>Salary range min</mat-label>
                <input
                  matInput
                  type="number"
                  placeholder="Salary range min"
                  name="offerSalaryRangeMin"
                  [(ngModel)]="offerModel.salaryRangeMin"
                  [disabled]="isReadonly"
                  required
                  min="500"
                  #offerSalaryRangeMin="ngModel"/>
                <mat-error *ngIf="offerSalaryRangeMin.invalid && (offerSalaryRangeMin.touched || offerSalaryRangeMin.dirty)">
                  <div *ngIf="offerSalaryRangeMin.errors?.required">Salary range min is required</div>
                  <div *ngIf="offerSalaryRangeMin.errors?.min">Value must be above 500</div>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="form-field width-100" appearance="outline">
                <mat-label>Salary max</mat-label>
                <input
                  matInput
                  type="number"
                  placeholder="Salary range max"
                  name="offerSalaryRangeMax"
                  [(ngModel)]="offerModel.salaryRangeMax"
                  [disabled]="isReadonly"
                  required
                  min="500"
                  #offerSalaryRangeMax="ngModel"/>
                <mat-error *ngIf="offerSalaryRangeMax.invalid && (offerSalaryRangeMax.touched || offerSalaryRangeMax.dirty)">
                  <div *ngIf="offerSalaryRangeMax.errors?.required">Salary range min is required</div>
                  <div *ngIf="offerSalaryRangeMax.errors?.min">Value must be above 500</div>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <mat-form-field class="form-field width-100" appearance="outline">
                <mat-label>Offer type</mat-label>
                <mat-select [(ngModel)]="offerModel.type" name="offerType">
                  <mat-option *ngFor="let option of workTypes" [value]="option">
                    {{option}}
                  </mat-option>
                  <mat-error *ngIf="offerPositionType.invalid && (offerPositionType.touched || offerPositionType.dirty)">
                    Position type is required
                  </mat-error>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="form-field width-100" appearance="outline">
                <mat-label>Localization</mat-label>
                <input
                  matInput
                  placeholder="Localization"
                  name="offerLocalization"
                  [(ngModel)]="offerModel.localization"
                  #offerName="ngModel"/>
                <mat-error *ngIf="offerPositionType.invalid && (offerPositionType.touched || offerPositionType.dirty)">
                  Position type is required
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <mat-form-field class="form-field" appearance="outline" style="width: 100%">
              <mat-label>Description</mat-label>
              <textarea
                matInput
                rows="5"
                placeholder="Description"
                name="offerDescription"
                [(ngModel)]="offerModel.description"
                [disabled]="isReadonly"
                required
                minlength="30"
                #offerDescription="ngModel">
              </textarea>
              <mat-error *ngIf="offerDescription.invalid && (offerDescription.touched || offerDescription.dirty)">
                <div *ngIf="offerDescription.errors?.required">Salary range min is required</div>
                <div *ngIf="offerDescription.errors?.minlength">Offer name has to contains at least 30 characters</div>
              </mat-error>
            </mat-form-field>
          </div>
          <app-confirm-button [isValid]="!offerForm.valid"></app-confirm-button>
        </div>
      </div>
    </form>
  </div>
</div>
<
