<div class="row">
  <div class="text-center" style="background-color: dodgerblue">
    <h1 style="margin: 20px; color: white">Works offers</h1>
  </div>
  <mat-sidenav-container class="example-container" >
    <mat-sidenav #sidenav mode="side" [(opened)]="sideNavOpened" style="width: 500px;">
      <div class="col-md-10 offset-1">
        <app-offers-filters (filterEventEmitter)="filterOffers($event)"></app-offers-filters>
      </div>
    </mat-sidenav>
    <mat-sidenav-content style="background-color: white;">
      <button
        mat-mini-fab
        style="background-color: dodgerblue; margin: 20px;"
        (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="col-md-10 offset-1">
        <ng-container *ngFor="let offer of activeOffersList">
          <app-row-card [offer]="offer" [isForEmployees]=false></app-row-card>
        </ng-container>
      </div>
      <mat-paginator #paginator
                     (page)="handlePageEvent($event)"
                     [length]=paginationLength
                     [pageSize]=paginationPageSize
                     [pageSizeOptions]="[5, 10, 15, 20]"
                     [pageIndex]="paginationPageIndex"
                     aria-label="Select page">
      </mat-paginator>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

