<div>
  <div class="row text-center">
    <h2>Filters</h2>
    <form (submit)="filter()" #filtersForm="ngForm">
      <div class="col-md-12">
        <mat-form-field appearance="outline">
          <mat-label>Search phrase</mat-label>
          <input
            matInput
            placeholder="Search phrase"
            name="filtersSearchPhrase"
            id="filtersSearchPhrase"
            [(ngModel)]="offersListFiltersModel.searchPhrase"
            #searchPhrase="ngModel">
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Range from</mat-label>
            <input
              matInput
              type="number"
              placeholder="Range from"
              name="filtersRangeFrom"
              id="filtersRangeFrom"
              [(ngModel)]="offersListFiltersModel.rangeFrom"
              #rangeFrom="ngModel">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Range to</mat-label>
            <input
              matInput
              type="number"
              placeholder="Range to"
              name="filtersRangeTo"
              id="filtersRangeTo"
              [(ngModel)]="offersListFiltersModel.rangeTo"
              #rangeTo="ngModel">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <mat-chip-list [(ngModel)]="offersListFiltersModel.experienceLevel">
            <mat-chip *ngFor="let level of experienceLevel" [value]="level">{{level}}</mat-chip>
          </mat-chip-list>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select [(value)]="offersListFiltersModel.status">
              <mat-option *ngFor="let status of offersStatuses" [value]="status">{{status}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6">
        <mat-checkbox
          name="isMine"
          [(ngModel)]="offersListFiltersModel.isMine"
          #isMine="ngModel">
          Only mine
        </mat-checkbox>
        </div>
      </div>
      <app-confirm-button></app-confirm-button>
    </form>
  </div>
</div>
