<div class="row">
  <div class="text-center" style="background-color: dodgerblue">
    <h1 style="margin: 20px; color: white">Remind Password</h1>
  </div>
  <form (submit)="submit()" #remindPasswordForm="ngForm" style="margin-top: 20px">
    <div class="row">
      <div class="col-md-4 offset-4">
        <mat-form-field class="form-filed width-100" appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="Email"
            name="remindPasswordEmail"
            [(ngModel)]="remindPasswordModel.email"
            required
            #remindPasswordEmail="ngModel">
          <mat-error *ngIf="remindPasswordEmail.invalid && (remindPasswordEmail.touched || remindPasswordEmail.dirty)">
            Email is required
          </mat-error>
        </mat-form-field>
        <app-confirm-button [isValid]="(!remindPasswordEmail.invalid)"></app-confirm-button>
      </div>
    </div>
  </form>
</div>
